@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>HTML/CSS layout</h2>

<div>
    <div class="viewSelector">
        <button class="generalBtn">General</button>
        <button class="PDFBtn">PDF</button>
    </div>
    <div class="view">
    </div>
</div>